:root {
  --fart-purple: #800080;
  --fart-dark-purple: #660066;
  --fart-lighter-dark-purple: #8f008f;
  --fart-darker-dark-purple: #550055;

  --fart-orange: #ff7f00;
  --fart-orange-transparent: #ff7f0055;

  /* Overwrite the green colors with purple. */
  --fart-dark-green: var(--fart-dark-purple);
  --fart-lighter-dark-green: var(--fart-lighter-dark-purple);
  --fart-darker-dark-green: var(--fart-darker-dark-purple);

  /* Overwrite the pink colors with orange. */
  --fart-pink: var(--fart-orange);
  --fart-pink-transparent: var(--fart-orange-transparent);

  /* Overwrite the sparkle text with a spooky sparkle. */
  --fart-sparkle-text: "🦇";
}
