.fart-section {
  max-width: 64ch;
  word-wrap: break-word;
  margin: 6rem auto;

  @media (max-width: 800px) {
    padding: 0 1rem;
  }
}

.fart-header {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.fart-inline {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: 2px;
}

.fart-button {
  background-color: var(--fart-dark-primary);
  color: var(--fart-primary);
  border: 1px solid var(--fart-primary);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.fart-button:hover {
  background-color: var(--fart-lighter-dark-primary);
  text-decoration: underline;
}

.fart-topics {
  margin-top: auto;
}

.fart-topic {
  word-break: keep-all;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: var(--fart-lighter-dark-primary);
  color: var(--fart-primary);
  border-radius: 2rem;
  display: inline-block;
  margin: 2px;
}

.fart-logo {
  position: absolute;
  text-decoration: none;
}

.fart-logo:hover {
  animation: fart-shake 560ms ease-in-out;
}

.fart-sparkle::before,
.fart-sparkle::after {
  content: var(--fart-sparkle-text);
}

.fart-sparkle-before::before {
  content: var(--fart-sparkle-text);
}

.fart-sparkle-after:after {
  content: var(--fart-sparkle-text);
}

.fart-text-gradient {
  margin-bottom: 1.5rem;
  font-size: 3.125rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  font-weight: 600;
  line-height: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(rgb(163, 255, 176), rgba(15, 23, 42, 0.1));
  background-size: 100% 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.fart-text-special {
  display: inline-block;
  color: var(--fart-white);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(
    to top,
    rgba(128, 128, 128, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  transform: rotate(-2deg);
  backdrop-filter: blur(10px);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  -webkit-text-fill-color: initial;
}

@media print {
  :root {
    --fart-primary: black;
  }

  @page {
    margin: 0;
    size: A4;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
  }

  body * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    -webkit-print-color-adjust: exact;
  }
}
