:root {
  --fart-sparkle-text: "✨";

  --fart-white: #ddd;
  --fart-off-white: #aaa;

  --gregory-green: #21b021;
  --fart-green: #c3ef3c;
  --fart-dark-green: #004021;
  --fart-lighter-dark-green: #005b31;
  --fart-darker-dark-green: #002d17;

  --fart-pink: #db7093;
  --fart-pink-transparent: #db709384;

  --fart-primary: var(--fart-green);
  --fart-lighter-dark-primary: var(--fart-lighter-dark-green);
  --fart-dark-primary: var(--fart-dark-green);
  --fart-darker-dark-primary: var(--fart-darker-dark-green);

  --fart-secondary: var(--fart-pink);
  --fart-highlight: var(--fart-pink-transparent);
}
