:root {
  --gregory-green: #21b021;

  --fart-green: #c3ef3c;
  --fart-dark-green: #004021;
  --fart-lighter-dark-green: var(--gregory-green);
  --fart-darker-dark-green: #002d17;

  --fart-pink: #db7093;
  --fart-pink-transparent: #db709384;
  --fart-white: #ddd;
  --fart-off-white: #aaa;

  --fart-sparkle-text: "✨";
}
